# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd

# Virtual environments
venv/
.env
.venv/
env/

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# Model artifacts
*.pkl
*.joblib
*.h5
*.pt
*.pth

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
